.indicatorIconButton {
  width: var(--toolbar-item-width);
  height: var(--toolbar-item-height);
  padding: calc(var(--toolbar-item-width) * 0.3);
  position: relative;
}

.indicatorIconButton__icon {
  width: 100%;
  height: 100%;
}

.indicatorIconButton:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
}
.indicatorIconButton:not(.indicatorIconButton--selected):hover:after {
  background-color: rgb(37, 37, 37);
  
}

.indicatorIconButton.indicatorIconButton--selected:after {
  background-color:rgb(36, 253, 21);
}