.indicatorIconButton {
  width: var(--toolbar-item-width);
  height: var(--toolbar-item-height);
  padding: calc(var(--toolbar-item-width) * 0.3);
  position: relative;
  top: 0;
  left: 0;
}

.indicatorIconButton__icon {
  width: 100%;
  height: 100%;
}

.indicatorIconButton:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
}

.dropup--disabled {
  display: none;
}

.dropup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: calc(0.7 * var(--toolbar-item-height));
  background-color: var(--toolbar-color);
  transform: translateY(calc(0 * var(--toolbar-item-height)));
  transform-origin: bottom;
  transition: all 300ms ease-in-out;

  filter: opacity(0%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.indicatorIconButton--selected:hover .dropup {
  filter: opacity(100%);
  transform: translateY(calc(-0.8 * var(--toolbar-item-height)));
}

.dropup__text {
  font-size: 10px;
  color: white;
}

.dropup__checkbox {
  width: 10px;
  height: 10px;
}

.indicatorIconButton:not(.indicatorIconButton--selected):hover:after {
  background-color: rgb(37, 37, 37);
}

.indicatorIconButton.indicatorIconButton--selected:after {
  background-color: #24fd15;
}
