.inputColor {
  width: calc(2 * var(--toolbar-item-width));
  height: var(--toolbar-item-height);
}
input[type="color"] {
	-webkit-appearance: none;
  border: none;
  width: calc(2 * var(--toolbar-item-width));
  height: var(--toolbar-item-height);
  outline: none;
  border-radius: 0 5px 5px 0;
  
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px;
  border-radius: 0 5px 5px 0;
    
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0 5px 5px 0;
} 