.simpleIconButton {
  width: var(--toolbar-item-width);
  height: var(--toolbar-item-height);
  padding: calc(var(--toolbar-item-width) * 0.3);
  border-radius: 50%;
}

.simpleIconButton__icon {
  width: 100%;
  height: 100%;
}

.simpleIconButton:not(.simpleIconButton--disabled):hover {
  background-color:rgb(27, 41, 22);
}
